<ion-header [translucent]="true">
  <br>
    <ion-title>
      Home
    </ion-title>
  <ion-toolbar background color = "navy">
    <ion-segment>
      <ion-segment-button  *ngFor="let name of ['All Jobs', 'Assigned', 'UnAssigned']"
        (ionSelect)="segmentChosen(name)">
        <ion-label> {{ name }} </ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content overflow-scroll="true" [fullscreen]="true">
  <ion-comp1 *ngIf="selectedSegment === 'All Jobs'"></ion-comp1>
  <ion-comp2 *ngIf="selectedSegment === 'Assigned'"></ion-comp2>
</ion-content>


